:root {
	--font-gabriola: 'Gabriola';
	--font-darleston: 'Darleston';
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.pattern-bg {
	background: url('/bg.jpg');
	background-size: cover;
}

body {
	@apply bg-base-100;
}

.wrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.wrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
